Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Blender automatic backups
*.blend[0-9]*

# Python bytecode caches
__pycache__/
*.py[cod]
